body{
    
    background :  url(img/DSA.png);
    
}


.banaer {
    width: 99vw;
    color: black;
    background-color: #31dada;
    text-align: center;
    font-size: 20px;

}

.logo {

    margin-top: -2px;
    height: 3px;
    text-align: center;
    line-height: 24px;
    font-size: 33px;
    text-decoration: underline;
}


.left{
       display: inline-block;
    margin-top: 14px;
    /* /* border: 2px solid red; */
}

.mid{
    
       /* border: 2px solid black; */
    display: inline-block;
    width: 36%;
    margin: 19px 323px;

}

.right{
    display: inline-block;
    /* margin-top: 100px; */

    /* border: 2px solid blue; */
}

.navbar{
    text-decoration: none;
    display: inline-block;
}

.navbar li{
    text-decoration: none;
    display: inline-block;
}

.navbar li a{
    text-decoration: none;
    display: inline-block;
    padding: 9px;
    margin: 12px;
    font-size: 20px;
    background-color: white;
    color: #000000;
    border-radius: 10px;
}

.navbar li a.active, .navbar li a:hover{

    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
}

.right .insta{
    height: 50px;
}

.right .twitter{
    margin-left: 10px;
    height: 50px;
}

.right .reddit{
    margin-left: 10px;
    height: 50px;
}

.container {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    border: 5px solid #0af5f5;
    margin: 107px 419px;
    padding: 44px;
    width: 35%;
    border-radius: 24px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.container input {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 7px;
    padding: 4px;

    display: inline-block;
    border: 2px solid orange;
}

.container button {

    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;  
    color: gray;
    font-size: 20px;
    display: inline-block;
    width: 60%;
    margin: 20px auto;

}

.btn:hover {
    border: 2px solid white;
    background: none;
    color: gray;
    text-decoration: underline;
}