body{
    
    background :  url(img/DSA.png);
    
}


.banaer {
     width: 100vw;
    color: black;
    
    background-color: #31dada;
    text-align: center;
    font-size: small;

}

.logo img{

    margin-top: 70px;
    height: 76px;
}

.logo_bot{

    text-align: center;
    line-height: 14px;
    font-size: 30px;
    text-decoration: underline;
}

.left{
       display: inline-block;
    margin-top: 14px;
    /* /* border: 2px solid red; */
}

.mid{
    
       /* border: 2px solid black; */
    display: inline-block;
    width: 36%;
    margin: 19px 323px;

}

.right{
    display: inline-block;
    /* margin-top: 100px; */

    border: 2px solid blue;
}

.navbar{
    text-decoration: none;
    display: inline-block;
}

.navbar li{
    text-decoration: none;
    display: inline-block;
}

.navbar li a{
    text-decoration: none;
    display: inline-block;
    padding: 9px;
    margin: 12px;
    font-size: 20px;
    background-color: white;
    color: #000000;
    border-radius: 10px;
}

.navbar li a.active, .navbar li a:hover{

    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
}

.right .insta{
    height: 50px;
}

.right .twitter{
    margin-left: 10px;
    height: 50px;
}

.right .reddit{
    margin-left: 10px;
    height: 50px;
}